.accordion {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: left;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;

  .active,
  &:hover {
    background-color: $color-statistics-hover;
  }

  &__panel {
    max-height: 0;
    padding: 0 1.8rem;
    background-color: $color-light;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
