.board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 44rem;
  height: 45rem;
  background-color: $color-primary;
  border: 1px solid $color-light;
  border-radius: 1.2rem;
  color: $color-light;
  font-size: 3rem;

  @include media-tablet {
    width: 38rem;
  }

  @include media-mobile {
    width: 28rem;
    height: 38rem;
    font-size: 2rem;
  }

  &__header {
    position: relative;
    height: 18%;

    &_answers-stack {
      height: 100%;
    }

    &_repeat {
      position: absolute;
      top: 1rem;
      right: 2rem;
      height: 4rem;
      width: 5rem;

      @include media-mobile {
        top: 1.5rem;
        right: 2rem;
        height: 4rem;
        width: 4rem;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 57%;

    &_reward {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 10rem;
      font-size: 4rem;
      border-radius: 13rem;
      border: 3px solid $color-light;
    }

    &_foreign-word {
      margin: 3rem 0 1rem;
    }
  }

  &__control {
    text-align: center;
    height: 24%;
  }

  &__button {
    width: 15rem;
    height: 4rem;

    @include media-mobile {
      width: 11rem;
    }

    &_true {
      background-color: $color-correct;

      &:active,
      &:hover {
        background-color: $color-correct-shadow;
      }
    }

    &_false {
      margin-left: 5rem;
      background-color: $color-wrong;

      &:active,
      &:hover {
        background-color: $color-wrong-shadow;
      }

      @include media-tablet {
        margin-left: 1rem;
      }
    }
  }
}
