.error-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  padding: 2rem;
  background: $color-light;
  border-radius: 1rem;

  @include media-mobile {
    width: 80%;
  }

  &_message {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
  }
}
