.games-switcher {
  &__sprint {
    position: relative;
    top: 2rem;
    right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;

    @include media-laptop {
      width: 19rem;
      right: 4rem;
    }

    @include media-tablet {
      top: 1rem;
      left: 1rem;
      flex-direction: column;
      align-self: center;
      height: 5rem;
      width: 10rem;
    }

    @include media-tablet-small {
      position: absolute;
      top: 8rem;
      left: 0;
      right: 0;
      flex-direction: row;
      margin: 0 auto;
      width: 20rem;
    }

    .games-switcher__title {
      margin-bottom: 0;
      font-size: 2rem;
      text-transform: initial;
      color: $color-light;

      @include media-tablet {
        font-size: 1.5rem;
      }
    }

    .switch {

      @include media-tablet {
        height: 2.85rem;
      }

      .slider {
        background: transparent;
        border: 2px solid $color-light;
        border-radius: 1rem;

        &:before {
          left: 0;
          bottom: -2px;
          height: 3.2rem;
          width: 5rem;
          border-radius: 0.7rem;

          @include media-tablet {
            bottom: 0;
            height: 2.5rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
