.games-switcher {
  &__sprint {
    position: relative;
    top: 2rem;
    right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;

    .games-switcher__title {
      margin-bottom: 0;
      font-size: 2rem;
      text-transform: initial;
      color: $color-light;
    }

    .switch {
      .slider {
        background: transparent;
        border: 2px solid $color-light;
        border-radius: 1rem;

        &:before {
          width: 5rem;
          height: 3rem;
          left: 0;
          bottom: 0;
          border-radius: 0.7rem;
        }
      }
    }
  }
}
