.stack {
  display: flex;
  justify-content: center;
  align-items: center;

  &__element {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: $color-light;
    border-radius: 2rem;

    @include media-mobile {
      width: 1rem;
      height: 1rem;
    }

    &_active {
      background: $color-violet;
    }

    &_2 {
      margin: 0 1rem;
    }
  }
}
