.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 7rem;
  height: 7rem;
  border: 2px solid $color-light;
  border-radius: 6rem;
  color: $color-light;
  font-size: 3rem;

  @include media-laptop {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }
}
