@import './components/curtain';
@import './components/board';
@import './components/counter';
@import './components/exit';
@import './components/sound-control';
@import './components/timer';
@import './components/stack';
@import './components/repeat-button';
@import './components/game-statistics';
@import './components/divider';
@import './components/game-controls';
@import './components/error-popup';
@import './components/accordion';
@import './components/games-switcher';

.sprint {
  * {
    box-sizing: border-box;
  }

  &__panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-size: cover;

    &_header {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @include media-tablet {
        flex-direction: column-reverse;
      }

      @include media-mobile {
        flex-direction: column;
      }
    }

    &_left {
      display: flex;
      justify-content: center;
      width: 20%;

      @include media-tablet {
        width: 100%;
        justify-content: center;
      }
    }

    &_right {
      position: relative;
      width: 80%;
      display: flex;
      justify-content: flex-end;

      @include media-tablet {
        width: 100%;
        justify-content: space-between;
      }

      @include media-mobile {
        top: 2rem;
        justify-content: center;
      }
    }

    &_main {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 5rem;
    }
  }

  &__counter {
    margin-bottom: 2rem;
  }

  &__game-controls {
    position: relative;
    top: 3rem;
    right: 5rem;

    @include media-tablet {
      top: 2rem;
      right: 0;
    }
  }

  &__sound-control {
    position: relative;
    top: 2rem;
    right: 7rem;

    @include media-tablet {
      top: 1rem;
      right: 5rem;
    }

    @include media-mobile {
      position: absolute;
      left: -2rem;
      top: -7.2rem;
    }
  }

  &__timer {
    top: 2rem;
  }
}
