.game.game_audioCall {
    min-height: 100vh;
    background: rgb(141,0,168);
    background: linear-gradient(180deg,rgba(141, 0, 168, 0.9),rgba(189,0,83,.5));
    text-align: center;
    color: #ffffffc7;
    position: relative;
}
.container.container_audioCall {
    max-width: 110rem;
    margin: 0 auto;
    @include media-laptop {
      max-width: 76rem;
    }
    @include media-tablet {
      max-width: 41rem;
    }
    @include media-mobile {
      max-width: 30rem;
    }
}
.game__title {
    text-transform: uppercase;
    font-size: 5rem;
    padding-top: 30rem;
    @include media-tablet {
      font-size: 4.5rem;
    }
    @include media-mobile {
      font-size: 4rem;
    }
}
.game__description {
    padding: 5rem;
    font-size: 2.5rem;
    line-height: 4rem;
    @include media-tablet {
      font-size: 2rem;
      line-height: 3rem;
      padding: 5rem 0rem;
    }
    @include media-mobile {
      font-size: 1.5rem;
      line-height: 2rem;
    }
}
.game__btn,
.game__start {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem 5rem;
    letter-spacing: 0.5rem;
    @include media-tablet {
      font-size: 2.5rem;
    }
    @include media-mobile {
      font-size: 2rem;
    }
}
.game__btn {
  @include media-mobile {
    margin-bottom: 1rem;
  }
}
.game__close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 3rem;
    height: 3rem;
    opacity: 1;
    &:hover {
      opacity: 0.3;
      cursor: pointer;
    }
    &::before, 
    &::after {
      position: absolute;
      left: 1.5rem;
      content: "";
      height: 3rem;
      width: 0.2rem;
      background-color: #ffffffc7;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
}
.game__image {
  padding: 8rem 0 0rem;
  min-height: 21rem;
    @include media-tablet {
      padding-top: 12rem;
    }
    @include media-mobile {
      padding-top: 20rem;
      min-height: auto;
    }
}
.image.image_audioCall { 
    width: 20rem;
    height: 0rem;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: .5rem solid $color-light;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
}
.game.game_audioCall.active .image {
  opacity: 1;
  height: 20rem;
}
.image.image_audioCall img {
  width: 100%;
  object-fit: cover;
}
.game__voice-word {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
    @include media-mobile {
      flex-direction: column;
      min-height: auto;
    }
}
.game__word {
    font-size: 5rem;
    text-transform: lowercase;
    margin-left: 3rem;
    color: $color-light;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    z-index: -1;
    @include media-tablet {
      font-size: 4.5rem;
    }
    @include media-mobile {
      font-size: 4rem;
      margin: 0;
    }
}
.game.game_audioCall.active .game__word {
  opacity: 1;
  position: initial;
  z-index: 1;
}
.game__voice {
    background: url(/assets/img/icon-audio.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 15rem;
    height: 15rem;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    @include media-mobile {
      margin: 1rem 0;
    }
    &:hover {
      transform: scale(1.2);
    }
}
.game.game_audioCall.active .game__voice {
  margin-left: -11rem;
  width: 8rem;
  height: 8rem;
  @include media-mobile {
    margin-left: 0;
  }
}
.game__words {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0 3rem;
    flex-wrap: wrap;
    min-height: 10rem;
    @include media-tablet {  
      padding: 1rem 0;
    }
}
.words__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: 0.2s;

    &:hover {
      background: $color-word-active;
    }
    
    @include media-tablet {
      margin-bottom: 2rem;
    }
}
.words__item.false {
  opacity: 0.2;
}
.words__item.true {
  opacity: 1;
  background: $color-word-active;
}
.words__item.line-through {
  text-decoration: line-through;
}
.words__name {
    margin: 0 1rem;
}
.game__progress {
    position: absolute;
    right: 0;
    left: 0;
    width: 20%;
    background: $color-light;
    height: .3rem;
}
.game__dropdown.game__dropdown_audioCall {
    position: absolute;
    left: 3rem;
    top: 3rem;
    display: flex;
    align-items: center;
    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;
    }
}
.lvl__title_audioCall,
.round__title_audioCall {
    font-size: 2.5rem;
    margin-right: 1rem;
}
.lvl__select_audioCall,
.round__select_audioCall {
    font-size: 1.5rem;
}
.game__lvl_audioCall,
.game__round_audioCall {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}
.game__round_audioCall {
    margin-left: 2rem;
    @include media-tablet {
      margin-left: 0;
      margin-top: 1rem;
    }
}
.game__iconSound {
  position: absolute;
  left: 3rem;
  top: 8rem;
  width: 3rem;
  height: 3rem;
  background: url('/../../assets/img/speaker.svg');
  background-color: $color-violet;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
    background-color: #54358e;
  }
  @include media-tablet {
    top: 11rem;
  }
}
.game__iconSound.active {
  background: url('/../../assets/img/mute.svg');
  background: url(/assets/img/mute.svg);
  background-size: 65%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: $color-violet;
  &:hover {
    cursor: pointer;
    background-color: #54358e;
  }
}
.game__statistics_audioCall {
	position: absolute;
  left: 3rem;
  top: 8rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 1rem;
  letter-spacing: 0.5rem;
  @include media-tablet {
    top: 11rem;
    padding: 1.5rem 1rem;
  }
}
.statistics-audioCall {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000090;
}
.modal-audioCall {
  width: 40rem;
  height: auto;
  max-height: 85vh;
  border: 3px solid #f2f2f2;
  vertical-align: middle;
  background: #8d00a8ab;
  display: flex;
  flex-direction: row;
  color: $color-light;
  padding: 2rem;
  word-break: break-word;
  overflow: auto;
  position: relative;
  font-size: 2rem;
  justify-content: space-evenly;
}
.modal-audioCall-hidden {
  display: none;
}
.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  opacity: 1;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &::before, 
  &::after {
    position: absolute;
    left: 1.5rem;
    content: "";
    height: 3rem;
    width: 0.2rem;
    background-color: #ffffffc7;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.statistics-audioCall__false .statistics-audioCall__title {
  color: $color-wrong;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: $color-light;
  border-radius: 0.5rem;
}
.statistics-audioCall__true .statistics-audioCall__title {
  color: $color-correct;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: $color-light;
  border-radius: 0.5rem;
}
.statistics-audioCall__words p {
  margin-bottom: 1rem;
}
.modal__btn_audiocallGame {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  border: 1px solid;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: 0.6s;
  &:hover {
    transform: scale(1.1);
  }
}