@import './base/constants';
$color-overlay: #474747e0;

.find-words {
    width: inherit;
    height: inherit;
    background-color: #fff;
    background-position: center;
    background-size: cover;
}
.game-info {
    width: fit-content;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25rem;
    user-select: none;
    background-color: $color-overlay;
    border-radius: 20px;
    text-align: center;
    color: #fff;
}

.game-info__title {
    font-size: 5rem;
    font-weight: 700;
    @include media-tablet {
        font-size: 4rem;
    }
    @include media-mobile {
      font-size: 3rem;
    }
}
.game-info__description {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 12rem;
    @include media-tablet {
        font-size: 2.4rem;
        height: 10rem;
    }
    @include media-mobile {
        font-size: 2rem;
        height: 8rem;
    }
}
.game-info__start-button {
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    padding: 5px 10px;
    @include media-tablet {
        font-size: 2.4rem;
    }
    @include media-mobile {
      font-size: 2rem;
    }
}

.game-container {
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.game-container__controls {
    width: 90%;
    margin: 5rem auto 0;
    background-color: $color-overlay;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;
}
.controls__level,
.controls__page,
.controls__repeat {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}
.level__head,
.page__head,
.repeat__head {
    font-size: 3rem;
    margin-right: 10px;
    @include media-tablet {
        font-size: 2.4rem;
    }
    @include media-mobile {
        font-size: 2rem;
    }
}
.repeat__icon {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
}
.game-container__game-field {
    width: 90%;
    height: 80%;
    background-color: $color-overlay;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    &.event-none {
        pointer-events: none;
    }
}
.game-field__card-eng,
.game-field__card-ru {
    font-size: 4rem;
    text-align: center;
    line-height: 13rem;
    width: 20rem;
    height: 14rem;
    margin: 10px;
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    cursor: pointer;
    &.rotate {
        transform: rotateY(180deg);
    }
    &.scale {
        transform: scale(1.1);
    }
    &.visible {
        opacity: 1;
    }
    
    @include media-tablet {
        width: 18rem;
        height: 12rem;
    }
    @include media-mobile {
        width: 12rem;
        height: 8rem;
    }
}
.card-eng__front,
.card-ru__front {
    border-radius: 10px;
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    background-color: #c7c7c7;
}
.card-eng__back,
.card-ru__back {
    border-radius: 10px;
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #ffffff;
    background-image: url('../assets/img/findWords/cardBackground.jpg');
    background-size: cover;
    background-position: center;
}
