@import './base/constants';
$color-find-words-overlay: #41414180;
$color-card-front: #c7c7c7;
$color-box-shadow-common: #ffffff8a;
$color-correct: #23ff77bd;
$color-error: #ff3d3db9;
$color-card-back: #32889e;
$color-statistics-row: #faebd7;
$color-exit: #ffffffc7;

.find-words {
    width: 100%;
    min-height: 100%;
    background-color: #2c2340;
    background-position: center;
    background-size: cover;
    transition: 1s;
    display: flex;
    position: relative;
    &.start-find-words {
        background-image: url('../assets/img/findWords/startPageBackground.jpg');
    }
    &.main-find-words {
        background-image: url('../assets/img/findWords/mainPageBackground.jpg');
    }
}
.find-words__exit.close-btn {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 3rem;
    height: 3rem;
    opacity: 1;
    z-index: 5;
    &::before {
        position: absolute;
        left: 1.5rem;
        content: "";
        height: 3rem;
        width: .2rem;
        background-color: $color-exit;
        transform: rotate(45deg);
    }
    &::after {
        position: absolute;
        left: 1.5rem;
        content: "";
        height: 3rem;
        width: .2rem;
        background-color: $color-exit;
        transform: rotate(-45deg);
    }
    &:hover {
        opacity: 0.3;
        cursor: pointer;
    }
}
.find-words__title {
    position: absolute;
    color: $color-light;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 3rem;
    width: 90%;
    text-align: center;
    @include media-mobile {
        text-align: left;
        font-size: 2.5rem;
    }
}

.game-info {
    width: fit-content;
    padding: 1.5rem;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25rem;
    user-select: none;
    background-color: $color-find-words-overlay;
    border-radius: 2rem;
    text-align: center;
    color: $color-light;
    transition: 1s;
    box-shadow: 0 0 1rem .2rem $color-box-shadow-common;
    &.hide-game-info {
        opacity: 0;
    }
}

.game-info__title {
    font-size: 5rem;
    font-weight: 700;
    @include media-tablet {
        font-size: 4rem;
    }
    @include media-mobile {
      font-size: 3rem;
    }
}
.game-info__description {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 12rem;
    @include media-tablet {
        font-size: 2.4rem;
        height: 10rem;
    }
    @include media-mobile {
        font-size: 2rem;
        height: 8rem;
    }
}
.game-info__start-button {
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    padding: .5rem 1rem;
    @include media-tablet {
        font-size: 2.4rem;
    }
    @include media-mobile {
      font-size: 2rem;
    }
}

.game-container {
    max-width: 140rem;
    margin: 9rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
    align-items: center;
    &.hide-game-container {
        opacity: 0;
    }
}
.game-container__controls {
    width: 90%;
    margin-bottom: 2rem;
    background-color: $color-find-words-overlay;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: $color-light;
    box-shadow: 0 0 1rem .2rem $color-box-shadow-common;
}
.controls__level,
.controls__page,
.controls__sound,
.controls__userWords {
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
    &.event-none {
        pointer-events: none;
        mix-blend-mode: soft-light;
    }
}
.level__head,
.page__head,
.sound__head,
.userWords__head {
    font-size: 3rem;
    margin-right: 1rem;
    @include media-tablet {
        font-size: 2.4rem;
    }
    @include media-mobile {
        font-size: 2rem;
    }
}
.sound__toggle-cont,
.userWords__toggle-cont {
    width: 8rem;
    height: 3rem;
    background-color: $color-violet;
}
.sound__toggle {
    width: 4rem;
    height: 3rem;
    transform: scale(0.8);
    border-radius: .5rem;
    position: relative;
    transition: 0.3s;
    background-image: url('../assets/img/icon-audio.png');
    background-color: $color-light;
    background-position: center;
    background-size: cover;
    left: 4rem;
    mix-blend-mode: soft-light;
    &.on {
        left: 0rem;
        mix-blend-mode: normal;
    }
}
.userWords__toggle {
    width: 4rem;
    height: 3rem;
    transform: scale(0.8);
    border-radius: .5rem;
    position: relative;
    transition: 0.3s;
    background-image: url('../assets/img/icon-on_off.png');
    background-color: $color-light;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 4rem;
    mix-blend-mode: soft-light;
    &.on {
        left: 0rem;
        mix-blend-mode: normal;
    }
}
.progress-bar {
    width: 90%;
    height: 3rem;
    margin-bottom: 2rem;
    background-color: $color-find-words-overlay;
    border-radius: 1rem;
    box-shadow: 0 0 1rem .2rem $color-box-shadow-common;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar__progress {
    width: 98%;
    height: 70%;
    border-radius: 1rem;
    overflow: hidden;
    color: $color-light;
    font-size: 2rem;
    display: flex;
}
.progress__line {
    height: 100%;
    background-color: $color-correct;
    transition: 0.5s;
}
.progress__value {
    position: absolute;
    left: 49%;
}
.game-container__game-field {
    width: 90%;
    margin-bottom: 2rem;
    background-color: $color-find-words-overlay;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 1rem .2rem $color-box-shadow-common;
    &.event-none {
        pointer-events: none;
    }
}
.game-field__message {
    position: absolute;
    color: $color-light;
    width: 70%;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50%;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    @include media-tablet {
        font-size: 1.8rem;
    }
    @include media-mobile {
        font-size: 1.5rem;
    }
}
.game-field__card-eng,
.game-field__card-ru {
    font-size: 2rem;
    border-radius: 1rem;
    width: 20rem;
    height: 14rem;
    margin: 1rem;
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    cursor: pointer;
    &.rotate {
        transform: rotateY(180deg);
    }
    &:hover {
        box-shadow: 0 0 1rem .2rem $color-box-shadow-common;
    }
    &.correct {
        box-shadow: 0 0 1rem .2rem $color-correct;
    }
    &.error {
        box-shadow: 0 0 1rem .2rem $color-error;
    }
    &.visible {
        opacity: 1;
    }
    @include media-tablet {
        width: 16rem;
        height: 10rem;
        font-size: 1.8rem;
    }
    @include media-mobile {
        width: 10rem;
        height: 6rem;
        font-size: 1.2rem;
    }
}
.card-eng__front,
.card-ru__front {
    border-radius: 1rem;
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    background-color: $color-card-front;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-ru__text {
    width: 95%;
    text-align: center;
    overflow-wrap: break-word;
}
.card-eng__back,
.card-ru__back {
    border-radius: 1rem;
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: $color-card-back;
    background-image: url('../assets/img/findWords/cardBackground.jpg');
    background-size: cover;
    background-position: center;
}
.game-container__statistics-button {
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    padding: 0.5rem 1rem;
}
.statistics {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-find-words-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.statistics__modal {
    width: 60%;
    padding: 2rem 0;
    background-color: $color-light;
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include media-tablet {
        width: 90%;
        font-size: 1.5rem;
    }
    @include media-mobile {
        width: 95%;
        font-size: 1.3rem;
    }
}
.statistics__header {
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2.2rem;
}
.statistics__subheader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.statistics__row {
    width: 100%;
    height: 3rem;
    background-color: $color-statistics-row;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.row-stat__word {
    width: 80%;
    padding-left: 1rem;
}
.row-stat__attempt {
    width: 20%;
    text-align: right;
    padding-right: 1rem;
}
.statistics__data {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.statistics__total {
    margin-bottom: 1rem;
}
.statistics__controls {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.statistics__repeat-button,
.statistics__next-button {
    padding: 0.5rem 1rem;
}

