.promo {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/img/bg-main-page.jpg);
    background-size: cover;
    background-position: 50%;
}
.promo__title {
    font-size: 5rem;
    color: #fff;
    padding: 0 3rem;
    @include media-tablet {
        padding: 0 1rem;
        font-size: 3rem;
    }
}
.promo-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background: linear-gradient($color-transparent-shadow, $color-transparent-shadow), url('../assets/img/promo/promo-2.jpg');
    padding-top: 5rem;
    text-align: center;
    background-size: cover;
}
.promo__information {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    @include media-tablet {
        flex-direction: column-reverse;
    }
}
.promo__media {
    width: 47%;
    font-size: 5rem;
    max-height: 30vw;
    @include media-tablet {
        width: 100%;
        height: 50vw;
        margin-bottom: 2rem;
        max-height: fit-content;
    }
}
.promo__video {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,.4);
    height: 100%;
}
.promo__video iframe {
    width: 100%;
    height: 100%;
}
.promo__description {
    width: 47%;
    font-size: 2rem;
    max-height: 30vw;
    overflow: auto;
    padding: 0 2rem;
    line-height: 2.5rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,.4);
    @include media-tablet {
        width: 100%;
        padding: 0;
        max-height: 50vw;
    }
    @include media-mobile {
        font-size: 1.5rem;
        line-height: initial;
    }
}
.promo__description p {
    margin: 1rem 0rem;
    padding: 0 2rem;
    @include media-tablet {
        padding: 0 1rem;
    }
}
.promo__description pre {
    @include media-tablet {
        padding: 0 1rem;
    }
}
.promo__description::-webkit-scrollbar { 
    width: 0.3rem; 
    height: 0.3rem;
}
.promo__description::-webkit-scrollbar-track {  
    background-color: $color-primary;
}
.promo__description::-webkit-scrollbar-track-piece { 
    background-color: $color-shadow;
}
.promo__description::-webkit-scrollbar-thumb { 
    height: 5rem; 
    background-color: $color-primary; 
    border-radius: 0.3rem;
}
.promo pre {
    white-space: pre-wrap;
}