
$color-light: #FFFFFF;
$color-divider: #DDDDDD;
$color-primary: #323746;
$color-word: #F0FFF5;
$color-word-active: #ffffff26;

$color-violet: #7752BE;
$color-shadow: rgba(233,127,228,.904);
$color-puzzle: #FFF0F5;

$color-overlay: rgba(80, 80, 80, 0.5);
$color-overlay-dark: rgba(80, 80, 80, 0.75);

$color-correct: rgba(0, 128, 0, .9);
$color-wrong: rgba(255, 0, 0, .6);

$color-correct-shadow: rgba(0,255,127, 0.5);
$color-wrong-shadow: rgba(255,69,0,0.5);
$color-transparent-shadow:rgba(0,0,0,0.5);

$color-green: rgba(0, 128, 0, .9);
$color-yellow: rgba(255,255,0, .7);

$color-statistics-hover: #E6E6FA;

$color-team-background: #f7f7f7;

$desktop-width: 1200px;
$tablet-width: 767px;
$tablet-small-width: 600px;
$mobile-big-width: 414px;
