
$color-light: #FFFFFF;
$color-primary: #323746;
$color-correct: rgba(0, 128, 0, .9);
$color-wrong: rgba(255, 0, 0, .6);

$color-word: #F0FFF5;

$color-violet: #7752BE;

$color-overlay: rgba(80, 80, 80, 0.5);

$desktop-width: 1200px;
$tablet-width: 767px;
$mobile-big-width: 414px;