.exit {
  position: relative;
  top: 4rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
  opacity: 1;
  cursor: pointer;

  @include media-tablet {
    top: 0;
    right: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:before,
  &:after {
    position: absolute;
    content: ' ';
    height: 4rem;
    width: 0.3rem;
    background-color: $color-light;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
