.main__results {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 700;
  @include media-laptop {
    width: 100%;
    font-size: 1.75rem;
    height: 35rem;
  }
  @include media-tablet {
    font-size: 1.2rem;
    height: 30rem;
  }
  @include media-mobile {
    font-size: 0.9rem;
    height: 25rem;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  border: 3px solid $color-primary;
  width: 83.2rem;
  height: 46.8rem;
}
