.main__data {
  width: 83.2rem;
  margin: 0 auto;
  border: 1px solid $color-primary;
  border-radius: 5px;
  &.paintingInfo {
    border: none;
    font-size: 2rem;
    font-weight: 700;
    @include media-tablet {
      font-size: 1.75rem;
    }
    @include media-tablet {
      font-size: 1.5rem;
    }
    @include media-mobile {
      font-size: 1.25rem;
    }
  }
  @include media-laptop {
    width: 67.5rem;
  }
  @include media-tablet {
    width: 36.5rem;
  }
  @include media-mobile {
    width: 28rem;
  }
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.6rem;
  @include media-laptop {
    height: 3.5rem;
  }
  @include media-tablet {
    height: 2.1rem;
  }
  @include media-mobile {
    height: 1.6rem;
  }
}
