.word-container {
  display: flex;
  min-width: 5rem;
  height: 100%;
  border: 2px solid $color-violet;
  border-radius: 5px;
  box-sizing: border-box;
  &.dragOver {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
  &.true {
    box-shadow: 0 0 20px rgba(0,255,127, 0.5);
  }
  &.false {
    box-shadow: 0 0 20px rgba(255,69,0,0.5);
  }
  @include media-laptop {
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin-left: 0.5rem;
  }
  @include media-tablet {
    min-width: 2rem;
    min-height: 2rem;
    margin-left: 0.25rem;
    border: 1px solid $color-violet;
  }
  @include media-mobile {
    min-width: 1.5rem;
    min-height: 1.5rem;
    margin-left: 0.1rem;
  }
}

.word {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: grab;
  @include media-tablet {
    padding: 3px 1px;
  }
  @include media-tablet {
    padding: 2px 0.5px;
  }
}
