.main__results {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 2rem auto;
  font-size: 1.75rem;
  font-weight: 700;
  @include media-laptop {
    font-size: 1.5rem;
  }
  @include media-tablet {
    font-size: 1.2rem;
  }
  @include media-mobile {
    font-size: 0.9rem;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  border: 3px solid $color-primary;
  width: 83.2rem;
  height: 46.8rem;
  @include media-laptop {
    width: 67rem;
    height: 37.8rem;
  }
  @include media-tablet {
    width: 36rem;
    height: 21.3rem;
  }
  @include media-mobile {
    width: 28rem;
    height: 16rem;
  }
}
