.main__results {
  display: flex;
  width: 90%;
  height: 40rem;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 400;
  @include media-laptop {
    width: 100%;
    font-size: 1.75rem;
    height: 35rem;
  }
  @include media-tablet {
    font-size: 1.2rem;
    height: 30rem;
  }
  @include media-mobile {
    font-size: 0.9rem;
    height: 25rem;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  border: 3px solid $color-primary;
  width: 100%;
  height: 100%;
}
