@import './constants';
@import './checkbox';
@import './trainingIcons';
@import './trainingCard';
@import './trainingButtons';
@import './trainingNotification';
@import './progressBar';

.game__training {
  width: 80%;
  margin:  0 auto;
  position: relative;
  background-color: $color-transparent;
  color: $color-light;
  @include media-laptop {
    width: 90%;
  }
  &-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('/assets/img/training/training-bck.jpg');
    background-size: cover;
  }
}

.menu__settings {
  font-size: 2rem;
}

.dictionary__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20rem;
  right: 2rem;
  @include media-laptop {
    flex-direction: row;
    top: 11rem;
    right: 0; 
    left: calc(50% - 14rem);
  }
  @include media-mobile {
    top: 17rem;
    left: calc(50% - 13rem);
  }
}

.game__menu {
  &.trainingGame__menu {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include media-mobile {
      flex-direction: column;
    }
  }
}

.menu__icons {
  align-items: center;
  display: flex;
  @include media-mobile {
    margin-top: 2rem;
  }
}

.game__buttons {
  &.training-game {
    margin: 2rem 0;
  }
}